<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TOPPERS CONTEST 2020</title>
<style>
table,
td {
    border: 1px solid #333;
}

th {
    border: 1px solid #333;
    text-align: left;
}
</style>
</head>
<body>
<div id="fb-root"></div>
<script type="text/javascript">
FB.init({
appId : '404137959625306',
status : true,
cookie : true,
xfbml : true,
logging : true
});
FB.Canvas.setAutoGrow();
</script>

<h1>第10回 TOPPERS活用アイデア・アプリケーション開発コンテストの案内</h1>
<a href="https://www.toppers.jp/contest.html">TOPPERS活用アイデア・アプリケーション開発コンテスト2020年度</a></li><br>
本年度も、第10回TOPPERS活用アイデア・アプリケーション開発コンテストを開催することとなりました。TOPPERSプロジェクトの開発成果物を活用するアイデア、もしくは開発成果物を用いたアプリケーションを募集します。
今回は、「活用アイデア部門」「アプリケーション開発部門」の2部門構成になっています。 皆様のご応募、お待ちしております。

<dl>
<dt>募集期間: </dt>
<dd>6月12日～8月31日 </dd>
</dl>

<dl>
<dt>主催</dt>
<dd>TOPPERSプロジェクト</dd>
</dl>
<dl>
<dt>協賛</dt>
<dd>CQ出版株式会社</dd>
<dd>株式会社アフレル</dd>
</dl>

</body>
</html>
